{% extends "base.html" %}
{% load static %}
{% block title %}<title>BookInner | Page d'accueil</title> {%endblock%}
{% block content %}
    <header>
      <link rel="stylesheet" href="{% static "main_app/css/base.css" %}"></link>
      <script type="text/javascript" src="{% static "main_app/js/accueil.js" %}"></script>
			<script src="https://kit.fontawesome.com/95022c06f9.js" crossorigin="anonymous"></script>
    </header>

    <body>
    <img style="height:30%; width:30%" src="{% static "main_app/images/logo.png" %}">
    <div id="research-bar">
        <form class="form-inline my-2 my-lg 1" >
            <input
            class="form-inline my-2 my-lg-"
            type="search"
            name="query"
            id="id_query"
            placeholder="Rechercher"
            value={{query_term}}
            ><button
            class ="btn btn-outline-success my-2 my-sm-0"
            type="submit"><i class='fa fa-search'></i></button>
        </form>
    </div>
    {%comment%}
    <select name="option" id="select-option">
       <option value="">--Selectionnez une option de recherche--</option>
       <option value="town">Ville</option>
       <option value="book">Livre</option>
       <option value="user">Utilisateur</option>
    </select>
    {%endcomment%}
        <h3>Boites à Livre existantes</h3>
        <div id="map-parent">
            <div id="map"></div>
        </div>
    </body>

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdhMDAHADc7gKxLgJBWx6AoFj2yKrbW0c&callback=initMap">
        </script>


    <section>
    {# Contiendra la carte indiquant les boîtes à livre #}
    </section>
{% endblock %}
