{% extends "base.html" %}
{% block title%}<title> BookInner | {{livre.titre}} </title> {% endblock %}
{% block content %}

     {% load static %}
    <head>
        <link rel="stylesheet" href="{% static "main_app/css/base.css" %}"></link>
        <link rel="stylesheet" href="{% static "main_app/css/descLivre.css" %}"></link>
    	<script src="https://kit.fontawesome.com/95022c06f9.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static "main_app/js/descLivre.js" %}"></script>
    </head>

    <h1>{{livre.titre}}</h1>
    <div class="livre">
        <div class="imgsection">
            <img class="livreImage" src="{{livre.couverture.url}}">
        </div>
        <div class="description">
            <h1><u>{{livre.titre}}</u>
                <div class="stars">
                    <i id="star1" class="fa fa-star"></i>
                    <i id="star2" class="fa fa-star"></i>
                    <i id="star3" class="fa fa-star"></i>
                    <i id="star4" class="fa fa-star"></i>
                    <i id="star5" class="fa fa-star"></i>
	            </div>
            </h1>
                Auteur: {{livre.auteur}} </br>
                Edition: {{livre.edition}} </br>
                ISBN: {{livre.isbn}} </br>
                {# A compléter avec les autres champs #}
                <hr>
                Resumé: {{livre.resume}}</br>
        </div>
            
    </div>

    <script>
        setStars("{{livre.note}}");
    </script>
   
{% endblock %}